@{
    ViewBag.Title = "ShowList";
}
 
<section class="project">
    <br />
    <p>
        <span>You are here:</span>
    </p>
    <header>
        <h3>@ViewBag.Message</h3>
    </header>
</section>

