@{
    ViewBag.Title = "ShowList";
}

<section class="project">
    <br />
    <p>
        <span></span>


    </p>
    <ul class="breadcrumb">You are here:
        <li><a href="index.html">Home</a></li>
        <li class="active">Project</li>
    </ul>
    <header>
        <h3>@ViewBag.Message</h3>
    </header>
</section>

